<div id="{{ctx.groupId}}" class="accordion builder-sidebar{{ctx.scrollEnabled ? ' builder-sidebar_scroll' : ''}}" ref="sidebar">
  <div ref="sidebar-groups">
    {% ctx.groups.forEach(function(group) { %}
      {{ group }}
    {% }) %}
  </div>
</div>
